/* stylelint-disable rule-empty-line-before */
/* stylelint-disable selector-class-pattern */
.paper {
  width: 277px;
  height: 277px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  .img {
    width: 217px;
    height: 217px;
  }

  .text {
    position: absolute;
    top: 0%;
    left: 0%;
    color: hsl(0deg 0% 4%);
    padding: 10px;
    border-radius: 4px;
  }

  .desc_text {
    position: absolute;
    max-height: 180px;
    width: 250px;
    overflow-y: scroll;
    top: 20%;
    left: 5%;
  }
}
